{% extends "layout.html"%}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    {% include '_message.html'%}
<div class="text-center h1 text-white bg-primary p-2">Login Customer</div>
<form method=post enctype="multipart/form-data">
    {{ form.csrf_token }}
  <div>
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
  </div>
  <p><input type=submit value="Login" class="btn btn-info mt-2"></p>
  <a href="{{url_for('customer_register')}}" class="btn btn-primary float-left">Sign up</a>
</form>
</div>

{% endblock content %}